
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/AzureADAuthMethods/.vs/*
library/AzureADAuthMethods/AzureADAuthMethods/bin/*
library/AzureADAuthMethods/AzureADAuthMethods/obj/*

# ignore PowerShell Studio MetaData
AzureADAuthMethods/AzureADAuthMethods.psproj
AzureADAuthMethods/AzureADAuthMethods.psproj.bak
AzureADAuthMethods/AzureADAuthMethods.psprojs
AzureADAuthMethods/AzureADAuthMethods.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*